{% extends 'layout.html' %}
{% block content %}
<section class="section-container">
   <!-- Page content-->
   <div class="content-wrapper">
      <div class="content-heading">
         <div>Students<small data-localize="dashboard.WELCOME"></small></div><!-- START Language list-->
         <!-- END Language list-->
      </div>
      <div class="card card-default">
         <div class="card-body">
            <table class="table table-striped my-4 w-100" id="datatable3">
               <thead>
                  <tr>
                     <th data-priority="1">Id</th>
                     <th>UID</th>
                     <th>Name</th>
                     <th>Father Name</th>
                     <th>Roll No</th>
                     <th>Class</th>
                     <th class="sort-numeric">Created at</th>
                     <th class="sort-alpha" data-priority="2">Actions</th>
                  </tr>
               </thead>
               <tbody>
                  {% for student in students %}
                  <tr class="gradeX">
                     <td>{{student.id}}</td>
                     <td>{{student.uid}}</td>
                     <td>{{student.name}}</td>
                     <td>{{student.father_name}}</td>
                     <td>{{student.roll_no}}</td>
                     <td>{{student.current_class}}</td>
                     <td>{{student.created_at}}</td>
                     <td>X</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
      
   </div>
</section><!-- Page footer-->
{% endblock %}